.text-custom-red {
  color: #ff0424;
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  text-decoration: none;
}

.text-custom {
  color: #636779;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.textTitle {
  font-size: 18px;
  font-weight: 600;
  color: #404454;
}

.NavMenu {
  height: 72px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.NavMenu:hover {
  box-shadow: inset 0 -4px 0 #e0e2eb;
  color: #0f111a;
}

.NavMenu:hover + .Dropdown,
.Dropdown:hover {
  position: absolute;
  top: 64px;
  z-index: 10;
  display: flex;
  width: 320px;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 12px;
  border: 1px solid #e0e2eb;
  background: #fbfcfe;
  left: 39rem;
  box-shadow: 0px 8px 48px 0px rgb(32, 35, 39, 0.02);
  padding: 8px 0px 8px 0px;
}
.Dropdown {
  display: none;
}

.Title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  color: #636779;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 24px;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  cursor: default;
}

.Content {
  display: flex;
  padding: 0 8px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.Line {
  display: flex;
  justify-content: center;
  height: 1px;
  background: #e0e2eb;
  margin: 8px 0;
  width: 100%;
}

.Link {
  display: flex;
  padding: 16px;
  align-items: center;
  height: 48px;
  border-radius: 8px;
  color: #404454;
  font-weight: 400;
  text-decoration: none;
  transition: all ease 0.16s;
  width: 100%;
}

.Link:hover {
  background: #f2f3f8;
}

.Hamburger {
  background: white;
  border-radius: 8px;
  height: 42px;
  width: 42px;
  align-items: center;
  justify-content: center;
}

.Hamburger:hover {
  background: #f2f3f8;
}

.Drawer {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}

.DrawerNavBox {
  display: flex;
  border-radius: 20px;
  padding: 0px 16px;
  height: 64px;
}

.DrawerNav {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  font-size: 24px;
  color: #404454;
  border-radius: 8px;
  font-weight: 600;
  transition: all ease 0.16s;
  width: 100%;
  text-decoration: none;
}

.DrawerNav:hover {
  background: #f2f3f8;
}

.SecondDrawer {
  background: #fbfcfe;
  border: 1px solid #e0e2eb;
  border-radius: 4rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 95%;
  padding: 4rem;
  z-index: 4;
  overflow-y: scroll;
  max-height: 90vh;
}

.DrawerTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  color: #636779;
  font-size: 12px;
  font-weight: 600;
  padding: 24px 0 8px 0;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  cursor: default;
}

.DrawerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.DrawerLink {
  display: flex;
  align-items: center;
  height: 48px;
  border-radius: 8px;
  color: #404454;
  font-weight: 400;
  text-decoration: none;
  transition: all ease 0.16s;
  width: 100%;
}
.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.dropdown-wrapper:hover .Dropdown {
  display: block;
}

.Dropdown {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}
